# Default ignored files
/../../Website /.idea/shelf/
/../../Website /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Website /.idea/httpRequests/
# Datasource local storage ignored files
/../../Website /.idea/dataSources/
/../../Website /.idea/dataSources.local.xml
